@import 'https://unicons.iconscout.com/release/v4.0.0/css/line.css';
@import './themes.scss';

a {
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
}

.carousel {
  width: 100%;
  margin: auto;
}

.carousel-directions {
  display: flex;
  justify-content: space-between;
}

.carousel-indicators {
  margin: 24px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dot {
  background-color: var(--font-color-primary);
  width: 16px;
  height: 16px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.active {
  background-color: var(--font-color-accent);

  &:hover {
    cursor: auto;
  }
}

.carousel-left,
.carousel-right {
  background-color: var(--bg-color-accent);
  border-radius: 50%;
  padding: 10px 6px 6px 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 2%;
  height: 24px;
  width: 24px;

  &:hover {
    cursor: pointer;
  }
}

.carousel-left {
  left: 5%;

  svg {
    margin-left: 10%;
  }
}

.carousel-right {
  right: 5%;
}

.carousel-image {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  img {
    border-radius: 8px;
  }
}

.code {
  color: var(--font-color-code);
  padding: 4px;
  background-color: var(--bg-color-code);
  font-size: 1.25rem;
  border-radius: 4px;
}

.container {
  color: var(--font-color-primary);
  font-family: var(--font-family-sans);
  max-width: 1000px;
  padding: 0px 144px;

  @media (max-width: 1200px) {
    padding: 0px 112px;
  }
  @media (max-width: 768px) {
    padding: 0px 48px;
  }
  @media (max-width: 480px) {
    padding: 0px 24px;
  }
}

footer {
  @extend .container;
  font-size: 14px;
  margin-bottom: 40px;
}

.heading-accent {
  color: var(--font-color-accent);
  font-size: 56px;

  @media (max-width: 480px) {
    font-size: 40px;
  }
}

.heading {
  color: var(--font-color-secondary);
  font-size: 34px;
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 500px;
}

header {
  @extend .container;
  box-shadow: 0 2px 3px -3px #a293b8;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: right;
  max-width: none;
}

.link {
  color: var(--font-color-accent);
  cursor: pointer;
  font-family: var(--font-family-mono);
  font-weight: bold;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  pointer-events: all;

  &:hover,
  &:focus {
    color: var(--font-color-secondary);
  }
  /* the below styles animate the link underline */
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.5px;
    background-color: var(--font-color-secondary);
    transition: width 0.3s ease;
  }
  &:hover::before,
  &:focus::before {
    width: 100%;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(160px, 320px));
  grid-gap: 0 10px;
  margin: 16px 0;
  overflow: hidden;
  padding: 8px;
}

.list-item {
  padding: 0 10px;
  &::marker {
    content: '▹';
    font-weight: bold;
    padding-left: 20px;
  }
}

main {
  margin: 64px 0;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  display: none;
  left: 5%;
  right: 10%;
  top: 5%;
  min-height: 90%;
  overflow: auto;
  position: absolute;
  z-index: 99;

  @media (max-width: 1200px) {
    right: 5%;
  }
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: right;
  color: var(--font-color-accent);
  font-size: 40px;
  font-weight: bold;
  height: 64px;
  width: 100%;

  &:hover,
  &:focus {
    color: var(--font-color-secondary);
    text-decoration: none;
    cursor: pointer;
  }

  @media (max-width: 600px) {
    height: 56px;
  }
}

.modal-content {
  padding: 0 5%;
}

.nav-links {
  display: flex;
  justify-content: right;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  margin-left: 2rem;
}

.nav-link-text {
  @extend .link;
  color: var(--font-color-primary);
  font-weight: normal;
}

p {
  line-height: 150%;
}

.project-content {
  max-width: 600px;
  margin-right: -400px;
  padding-top: 16px;
  pointer-events: none;
  width: 100%;
  z-index: 2;

  @media(max-width: 1200px) {
    padding-top: 8px;
  }
}

.project-description {
  background-color: var(--bg-color-secondary);
  border-radius: 5px;
  padding: 32px;

  a {
    font-family: var(--font-family-sans);
  }
}

.project-img {
  border-radius: 5px;
  max-height: 400px;
  max-width: 600px;
  position: relative;
  width: 100%;
  overflow: hidden;

  .project-img-overlay {
    background-color: var(--bg-color-accent);
    border-radius: 5px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: background-color 0.3s ease;
  }

  img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 0.3s ease;
    transition: -webkit-filter 0.3s ease;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    .project-img-overlay {
      background-color: transparent;
    }

    img {
      filter: none;
      -webkit-filter: none;
    }
  }

  @media(max-width: 1200px) {
    max-width: 520px;
    height: 360px;
  }
  @media (max-width: 480px) {
    height: 256px;
  }
}

.project-links {
  font-size: 24px;
  margin: 8px 0;

  i {
    color: var(--font-color-primary);
    cursor: pointer;
    margin-left: 8px;
    margin-right: 16px;
    pointer-events: all;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: var(--font-color-secondary);
    }
  }

  a:nth-child(2) {
    i { font-size: 26px; }
  }
}

.project-section {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family-mono);
  font-size: 14px;
  max-width: 400px;
  padding-left: 1rem;

  @media (max-width: 480px) {
    justify-content: center;
  }

  li {
    margin-right: 1.5rem;
  }
}

select {
  border: none;
  border-radius: 4px;
  box-shadow: 0 0.5px 3px #a293b8;
  margin: 0 8px;
  padding: 0.3em 0.6em;

  &:hover,
  &:focus {
    border: 0.5px solid #a293b8bf;
  }
}

.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-box-img {
  &:hover {
    transform: rotate(-25deg);
  }
}

.skill-box-link {
  @extend .link;
  display: block;
  text-align: center;
}

.skills-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  margin-top: 40px;
  @media (max-width: 370px) {
    gap: 1rem;
  }
  @media (max-width: 350px) {
    gap: 0.6rem;
  }
}

.theme-toggle {
  @extend .nav-link-item;
  color: var(--font-color-primary);
  cursor: pointer;
  margin-right: 80px;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: var(--font-color-secondary);
  }

  @media (max-width: 1400px) {
    margin-right: 0;
  }
}
