.project-content {
  max-width: 600px;
  margin-right: -400px;
  pointer-events: none;
  width: 100%;
  z-index: 2;

  @media(max-width: 768px) {
    padding-top: 8px;
  }
}

.project-description {
  background-color: var(--bg-color-secondary);
  border-radius: 5px;
  padding: 32px;

  a {
    @extend .link;
    display: inline-block;
    font-family: var(--font-family-sans) !important;
  }
}

.project-img {
  border-radius: 5px;
  max-height: 400px;
  max-width: 600px;
  position: relative;
  width: 100%;
  overflow: hidden;

  .project-img-overlay {
    background-color: var(--bg-color-accent);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 5px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: background-color 0.3s ease;
  }

  img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 0.3s ease;
    transition: -webkit-filter 0.3s ease;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    .project-img-overlay {
      background-color: transparent;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
    }

    img {
      filter: none;
      -webkit-filter: none;
    }
  }

  @media(max-width: 1200px) {
    max-width: 520px;
    height: 360px;
  }
  @media (max-width: 480px) {
    height: 256px;
  }
}

.project-links {
  font-size: 24px;
  margin: 8px 0;

  i {
    color: var(--font-color-primary);
    cursor: pointer;
    margin-left: 8px;
    margin-right: 16px;
    pointer-events: all;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: var(--font-color-secondary);
    }
  }

  a:nth-child(2) {
    i { font-size: 26px; }
  }
}

.project-section {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family-mono);
  font-size: 14px;
  max-width: 400px;
  padding-left: 1rem;

  @media (max-width: 480px) {
    justify-content: center;
  }

  li {
    margin-right: 1.5rem;
  }
}
