:root, [data-theme='dark'] {
  --bg-color: #231f27;
  --bg-color-accent: rgba(50, 230, 227, 0.5);
  --bg-color-secondary: #392a4d;
  --font-color-code: #8A6534;
  --font-color-primary: #ecebe8;
  --font-color-secondary: #32e6e2;
  --font-color-accent: #bf6fee;
}

[data-theme='light'] {
  --bg-color: #fffefb;
  --bg-color-accent: rgba(96, 245, 242, 0.7);
  --bg-color-secondary: #f3e9db;
  --font-color-code: #8A6534;
  --font-color-primary: #36313d;
  --font-color-secondary: #338399;
  --font-color-accent: #8954A8;
  --font-family-mono: 'Sometype Mono', 'Fira Code', 'Courier New', monospace;
  --font-family-sans: 'Inter', 'Segoe UI', -apple-system, system-ui, sans-serif, 'Apple Color Emoji', 
    'Segoe UI Emoji', 'Segoe UI Symbol';
}
