:root, [data-theme='dark'] {
  --bg-color: #231f27;
  --bg-color-accent: rgba(21, 95, 94, 0.6);
  --bg-color-secondary: #392a4d;
  --bg-color-secondary-tran: rgba(57, 42, 77, 0.4);
  --font-color-code: #8A6534;
  --font-color-primary: #ecebe8;
  --font-color-secondary: #32e6e2;
  --font-color-accent: #bf6fee;
  --font-family-mono: 'Sometype Mono', 'Fira Code', 'Courier New', monospace;
  --font-family-sans: 'Inter', 'Segoe UI', -apple-system, system-ui, sans-serif, 'Apple Color Emoji', 
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

[data-theme='light'] {
  --bg-color: #fffefb;
  --bg-color-accent: rgba(85, 216, 214, 0.7);
  --bg-color-secondary: #f3e9db;
  --bg-color-secondary-tran: rgba(243, 233, 219, 0.5);
  --font-color-code: #8A6534;
  --font-color-primary: #36313d;
  --font-color-secondary: #338399;
  --font-color-accent: #8954A8;
}
